﻿@* CSS because the site.scss file wasn't working *@
<style>
    #one {
        padding: 10px;
        overflow-y: scroll;
        height: 100vh;
    }

    #musician {
        width: 100%;
    }

    #two {
        background-color: lightGray;
        height: 100vh;
    }

    .float-left {
        float: left;
    }

    .rating > span {
        display: inline-block;
        position: relative;
        width: 2.5em;
    }

    .profileimage {
        height: 100%;
        width: 100%;
        padding-right: 2%;
        border-radius: 25%;
    }

    body {
        line-height: 1%;
        overflow: hidden;
        line-height: 10px;
    }

    div {
        padding-bottom: 4%;
    }

    #teacherstitle {
        background-color: lightgray;
    }

    /* FILTER */
    .filterDiv {
        display: none;
    }

    .show {
        display: block;
    }

    /* SHOW TEACHERS */
    #muse1, #muse2, #muse3, #muse4 {
        background-color: teal;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        display: none;
    }

    .zoomImage {
        width: 50%;
    }

    /* SHOW MORE INFO */
    #moreInfo {
        background-color: darkgray;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        display: none;
    }

    #socialMedia {
        float: right;
        padding-right: 10%;
    }

    #makeAppointment {
        margin-bottom: 20px;
    }

    #explainAppointment {
        float: right;
        line-height: 1;
        margin-right: 5%;
    }

    /* START CONVERSATION FORM */
    #conversationForm {
        background-color: teal;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }

    #submissionForm {
        padding-top: 5%;
    }

</style>
@* HTML for teacher info page *@
<div id="one" class="container col-xs-5">
    <div>
        <div class="col-xs-12">
            <h1 id="teacherstitle" class="text-center">Music Tutors In Your Local Area</h1>
            <div>
                <div>
                    No Filter <input type="radio" onclick="filterSelection('none')" name="category" checked />
                    <br />
                    Search By Name:
                    <input type="text" id="searchField" onkeyup="filterSelection(this.value.toUpperCase())" />
                    <br />
                    Filter by Price:
                    $20 <= <input type="radio" onclick="filterSelection('20to30')" name="category" /> < $30 ||
                    $30 <= <input type="radio" onclick="filterSelection('30to40')" name="category" /> < $40 ||
                    $40 <= <input type="radio" onclick="filterSelection('40to50')" name="category" /> < $50
                    <br />
                    Filter by Instrument:
                    Guitar <input type="radio" onclick="filterSelection('guitar')" name="category" /> ||
                    Piano <input type="radio" onclick="filterSelection('piano')" name="category" /> ||
                    DJ <input type="radio" onclick="filterSelection('dj')" name="category" /> ||
                    Producer <input type="radio" onclick="filterSelection('producer')" name="category" />
                    <br />
                    Filter by Spare:
                    Yes <input type="radio" onclick="filterSelection('spareyes')" name="category" /> ||
                    No <input type="radio" onclick="filterSelection('spareno')" name="category" />
                </div>
            </div>
        </div>
        <div class="col-xs-4 filterDiv 30to40 guitar piano spareyes ADAM ABBOTT">
            <img src="~/images/Muse1.jpg" class="img-rounded profileimage" onclick="showMuse1()" />
            <h4 class="text-center">Adam Abbott</h4>
            <h6><b>$30.00 - Guitarist/Pianist</b></h6>
            <h6>Spare Guitars and Piano</h6>
            <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9734;</span><span> <i>6 Reviews</i></span>
        </div>
        <div class="col-xs-4 filterDiv 40to50 dj producer spareyes BENNY BASALISK">
            <img src="~/images/Muse2.jpg" class="img-rounded profileimage" onclick="showMuse2()" />
            <h4 class="text-center">Benny Basalisk</h4>
            <h6><b>$45.00 - DJ/Producer</b></h6>
            <h6>DJ kit for use</h6>
            <span><i>NEW </i>2 Reviews</span>
        </div>
        <div class="col-xs-4 filterDiv 40to50 piano spareyes CLIVE CRYUAN">
            <img src="~/images/Muse3.jpg" class="img-rounded profileimage" onclick="showMuse3()" />
            <h4 class="text-center">Clive Cryuan</h4>
            <h6><b>$40.00 - Pianist</b></h6>
            <h6>Piano for use</h6>
            <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span> <i>118 Reviews</i></span>
        </div>
        <div class="col-xs-4 filterDiv 20to30 guitar spareno DAVID DIGGLESTONE">
            <img src="~/images/Muse4.jpg" class="img-rounded profileimage" onclick="showMuse4()" />
            <h4 class="text-center">David Digglestone</h4>
            <h6><b>$25.00 - Guitarist</b></h6>
            <span>&#9733;</span><span>&#9733;</span><span>&#9734;</span><span>&#9734;</span><span>&#9734;</span><span> <i>21 Reviews</i></span>
        </div>
        <div class="col-xs-4 filterDiv 30to40 guitar piano spareyes ADAM ABBOTT">
            <img src="~/images/Muse1.jpg" class="img-rounded profileimage" onclick="showMuse1()" />
            <h4 class="text-center">Adam Abbott</h4>
            <h6><b>$30.00 - Guitarist/Pianist</b></h6>
            <h6>Spare Guitars and Piano</h6>
            <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9734;</span><span> <i>6 Reviews</i></span>
        </div>
        <div class="col-xs-4 filterDiv 40to50 dj producer spareyes BENNY BASALISK">
            <img src="~/images/Muse2.jpg" class="img-rounded profileimage" onclick="showMuse2()" />
            <h4 class="text-center">Benny Basalisk</h4>
            <h6><b>$45.00 - DJ/Producer</b></h6>
            <h6>DJ kit for use</h6>
            <span><i>NEW </i>2 Reviews</span>
        </div>
        <div class="col-xs-4 filterDiv 40to50 piano spareyes CLIVE CRYUAN">
            <img src="~/images/Muse3.jpg" class="img-rounded profileimage" onclick="showMuse3()" />
            <h4 class="text-center">Clive Cryuan</h4>
            <h6><b>$40.00 - Pianist</b></h6>
            <h6>Piano for use</h6>
            <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span> <i>118 Reviews</i></span>
        </div>
        <div class="col-xs-4 filterDiv 20to30 guitar spareno DAVID DIGGLESTONE">
            <img src="~/images/Muse4.jpg" class="img-rounded profileimage" onclick="showMuse4()" />
            <h4 class="text-center">David Digglestone</h4>
            <h6><b>$25.00 - Guitarist</b></h6>
            <span>&#9733;</span><span>&#9733;</span><span>&#9734;</span><span>&#9734;</span><span>&#9734;</span><span> <i>21 Reviews</i></span>
        </div>
        <div class="col-xs-4 filterDiv 30to40 guitar piano spareyes ADAM ABBOTT">
            <img src="~/images/Muse1.jpg" class="img-rounded profileimage" onclick="showMuse1()" />
            <h4 class="text-center">Adam Abbott</h4>
            <h6><b>$30.00 - Guitarist/Pianist</b></h6>
            <h6>Spare Guitars and Piano</h6>
            <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9734;</span><span> <i>6 Reviews</i></span>
        </div>
        <div class="col-xs-4 filterDiv 40to50 dj producer spareyes BENNY BASALISK">
            <img src="~/images/Muse2.jpg" class="img-rounded profileimage" onclick="showMuse2()" />
            <h4 class="text-center">Benny Basalisk</h4>
            <h6><b>$45.00 - DJ/Producer</b></h6>
            <h6>DJ kit for use</h6>
            <span><i>NEW </i>2 Reviews</span>
        </div>
        <div class="col-xs-4 filterDiv 40to50 piano spareyes CLIVE CRYUAN">
            <img src="~/images/Muse3.jpg" class="img-rounded profileimage" onclick="showMuse3()" />
            <h4 class="text-center">Clive Cryuan</h4>
            <h6><b>$40.00 - Pianist</b></h6>
            <h6>Piano for use</h6>
            <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span> <i>118 Reviews</i></span>
        </div>
        <div class="col-xs-4 filterDiv 20to30 guitar spareno DAVID DIGGLESTONE">
            <img src="~/images/Muse4.jpg" class="img-rounded profileimage" onclick="showMuse4()" />
            <h4 class="text-center">David Digglestone</h4>
            <h6><b>$25.00 - Guitarist</b></h6>
            <span>&#9733;</span><span>&#9733;</span><span>&#9734;</span><span>&#9734;</span><span>&#9734;</span><span> <i>21 Reviews</i></span>
        </div>
    </div>
</div>
<div id="two" class="container col-xs-7 text-center">
    <div class="jumbotron">
        <h1>MAP GOES HERE</h1>
    </div>
</div>
<div id="muse1" class="col-xs-5">
    <div>
        <div class="col-xs-12 text-center">
            <h4>Guitarist/Pianist</h4>
            <img src="~/images/Muse1.jpg" class="img-rounded img-responsive zoomImage" />
            <h1>Adam "<i><b>Museo</b></i>" Abbott</h1>
            <hr />
            <h2>$30.00/hour</h2>
            <div class="rating" id="stars">
                <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9734;</span>
            </div>
            <hr />
        </div>
        <div>
            <h3>Customer Feedback</h3>
            <p>Looks like a discount Enrique Inglesias <b>- First Customer 4&#9734;</b></p>
            <p>Beyond reasonable <b>- Second Customer 3&#9734;</b></p>
            <p>Loved him and his puppy <b>- Third Customer 5&#9734;</b></p>
            <p>Great tutor, little bit of a racist <b>- Fourth Customer 3&#9734;</b></p>
            <p>I've made a new friend <b>- Fifth Customer 5&#9734;</b></p>
        </div>
        <div class="text-center bottomButtons">
            <button class="btn btn-danger" onclick="back()">Back</button>
            <button class="btn btn-info" onclick="showMoreInfo()">More Information</button>
        </div>
    </div>    
</div>
<div id="muse2" class="col-xs-5">
    <div>
        <div class="col-xs-12 text-center">
            <h4>Dj/Producer</h4>
            <img src="~/images/Muse2.jpg" class="img-rounded img-responsive zoomImage" />
            <h1>Benny "<i><b>Snake</b></i>" Basalisk</h1>
            <hr />
            <h2>$45.00/hour</h2>
            <div class="rating" id="stars">
                NEW USER - NOT STAR RATED
            </div>
            <hr />
        </div>
        <div>
            <h3>Customer Feedback</h3>
            <p>Looks like a discount Enrique Inglesias <b>- First Customer 4&#9734;</b></p>
            <p>Beyond reasonable <b>- Second Customer 3&#9734;</b></p>
            <p>Loved him and his puppy <b>- Third Customer 5&#9734;</b></p>
            <p>Great tutor, little bit of a racist <b>- Fourth Customer 3&#9734;</b></p>
            <p>I've made a new friend <b>- Fifth Customer 5&#9734;</b></p>
        </div>
        <div class="text-center">
            <button class="btn btn-danger" onclick="back()">Back</button>
            <button class="btn btn-info" onclick="showMoreInfo()">More Information</button>
        </div>
    </div>     
</div>
<div id="muse3" class="col-xs-5">
    <div>
        <div class="col-xs-12 text-center">
            <h4>Pianist</h4>
            <img src="~/images/Muse3.jpg" class="img-rounded img-responsive zoomImage" />
            <h1>Clive "<i><b>Creeper</b></i>" Cryuan</h1>
            <hr />
            <h2>$40.00/hour</h2>
            <div class="rating" id="stars">
                <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span>
            </div>
            <hr />
        </div>
        <div>
            <h3>Customer Feedback</h3>
            <p>Looks like a discount Enrique Inglesias <b>- First Customer 4&#9734;</b></p>
            <p>Beyond reasonable <b>- Second Customer 3&#9734;</b></p>
            <p>Loved him and his puppy <b>- Third Customer 5&#9734;</b></p>
            <p>Great tutor, little bit of a racist <b>- Fourth Customer 3&#9734;</b></p>
            <p>I've made a new friend <b>- Fifth Customer 5&#9734;</b></p>
        </div>
        <div class="text-center">
            <button class="btn btn-danger" onclick="back()">Back</button>
            <button class="btn btn-info" onclick="showMoreInfo()">More Information</button>
        </div>
    </div>     
</div>
<div id="muse4" class="col-xs-5">
    <div>
        <div class="col-xs-12 text-center">
            <h4>Guitarist</h4>
            <img src="~/images/Muse4.jpg" class="img-rounded img-responsive zoomImage" />
            <h1>David "<i><b>The Dig</b></i>" Digglestone</h1>
            <hr />
            <h2>$25.00/hour</h2>
            <div class="rating" id="stars">
                <span>&#9733;</span><span>&#9733;</span><span>&#9734;</span><span>&#9734;</span><span>&#9734;</span>
            </div>
            <hr />
        </div>
        <div>
            <h3>Customer Feedback</h3>
            <p>Looks like a discount Enrique Inglesias <b>- First Customer 4&#9734;</b></p>
            <p>Beyond reasonable <b>- Second Customer 3&#9734;</b></p>
            <p>Loved him and his puppy <b>- Third Customer 5&#9734;</b></p>
            <p>Great tutor, little bit of a racist <b>- Fourth Customer 3&#9734;</b></p>
            <p>I've made a new friend <b>- Fifth Customer 5&#9734;</b></p>
            <hr />
        </div>
        <div class="text-center">
            <button class="btn btn-danger" onclick="back()">Back</button>
            <button class="btn btn-info" onclick="showMoreInfo()">More Information</button>
        </div>
    </div>    
</div>
<div id="moreInfo" class="col-xs-7">
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/lDCnl2ESMg8" frameborder="0" allowfullscreen style="padding-top: 15px"></iframe>
        <div id="socialMedia">
            <img src="~/images/facebook.png" height="75" onclick="toFacebook()" />
            <a onclick="toFacebook()" href="#">Check Me Out On Facebook</a>
            <br>
            <img src="~/images/youtube.png" height="75" onclick="toYouTube()" />
            <a onclick="toYouTube()" href="#">Watch Me On YouTube</a>
        </div>
        <hr />
        <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23339999&amp;src=jaymes1991%40gmail.com&amp;color=%231B887A&amp;src=en.new_zealand%23holiday%40group.v.calendar.google.com&amp;color=%230F4B38&amp;ctz=Pacific%2FAuckland" style="border-width:0" width="760" height="480" frameborder="0" scrolling="no"></iframe>
        <div id="explainAppointment" class="col-xs-2">
            <p>This calendar shows you when your tutor is available.
            <br /><br />If you find a time that suits you then hit the button below, start the conversation, and begin to change your life.</p>
            <button id="makeAppointment" class="btn btn-info" onclick="showForm()">Start The Conversation</button>
        </div> 
    </div>
</div>
<div id="conversationForm" class="col-xs-5 text-center">
    <form id="submissionForm">
        <div class="form-group">
            <h2>You're Email: </h2>
            <input type="text" placeholder="Your Email Here..." />
        </div>
        <div class="form-group">
            <h2>Your Name: </h2>
            <input type="text" placeholder="Your Name Here..." />
        </div>
        <div class="form-group">
            <h2>The Message Subject: </h2>
            <input type="text" placeholder="The Subject" />
        </div>
        <div class="form-group">
            <h2>The Message: </h2>
            <input type="text" placeholder="Your Message" style="padding-bottom: 150px;" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" onclick="alert('this would be where the submission goes to an email')">Submit To Tutor</button>
            <br /><br />
            <h4 class="glyphicon glyphicon-remove btn-danger" onclick="hideForm()"></h4>
        </div>
    </form>
</div>

<script>
    function filterSelection(toFilter) {
        var capturedClasses, i;
        capturedClasses = document.getElementsByClassName("filterDiv");

        if (toFilter == "none")
        {
            toFilter = "";
        }

        for (i = 0; i < capturedClasses.length; i++)
        {
            hideDiv(capturedClasses[i], "show");
            if (capturedClasses[i].className.indexOf(toFilter) > -1)
            {
                showDiv(capturedClasses[i], "show");
            }
        }
    }

    function showDiv(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");

        for (i = 0; i < arr2.length; i++)
        {
            if (arr1.indexOf(arr2[i]) == -1)
            {
                element.className += " " + arr2[i];
            }
        }
    }

    function hideDiv(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");

        for (i = 0; i < arr2.length; i++)
        {
            while (arr1.indexOf(arr2[i]) > -1)
            {
                arr1.splice(arr1.indexOf(arr2[i]), 1);
            }
        }
        element.className = arr1.join(" ");
    }

    filterSelection("none")

    function filterSearch(toFilter) {
        var capturedClasses, i;
        capturedClasses = document.getElementsByClassName("filterNames");

        for (i = 0; i < capturedClasses.length; i++)
        {
            hideDiv(capturedClasses[i], "show");
            if (capturedClasses[i].className.indexOf(toFilter) > -1)
            {
                showDiv(capturedClasses[i], "show");
            }
        }
    }

    function showMuse1() {
        document.getElementById('muse1').style.display = "block";
    }

    function showMuse2() {
        document.getElementById('muse2').style.display = "block";
    }

    function showMuse3() {
        document.getElementById('muse3').style.display = "block";
    }

    function showMuse4() {
        document.getElementById('muse4').style.display = "block";
    }

    function back() {
        document.getElementById('muse1').style.display = "none";
        document.getElementById('muse2').style.display = "none";
        document.getElementById('muse3').style.display = "none";
        document.getElementById('muse4').style.display = "none";
        document.getElementById('moreInfo').style.display = "none";
    }

    function toFacebook() {
        window.open('https://www.facebook.com/skrillex/')
    }

    function toYouTube() {
        window.open('https://www.youtube.com/user/StreetChapters')
    }

    function showMoreInfo() {
        document.getElementById('moreInfo').style.display = "block";
    }

    function showForm() {
        document.getElementById('conversationForm').style.display = "block";
    }

    function hideForm() {
        document.getElementById('conversationForm').style.display = "none";

    }
</script>
